* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
.button-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
}
.btn {
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.whatsapp {
  background-color: #25D366;
  animation: glowPulseGreen 2s infinite ease-in-out;
  animation-delay: 0s;
}
.telegram {
  background-color: #0088cc;
  animation: glowPulseBlue 2s infinite ease-in-out;
  animation-delay: 1s;
}
@keyframes glowPulseGreen {
  0%, 100% {
    box-shadow: 0 0 5px rgba(37, 255, 114, 0.2), 0 0 10px rgba(37, 255, 114, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(37, 255, 114, 0.6), 0 0 30px rgba(37, 255, 114, 0.5);
  }
}
@keyframes glowPulseBlue {
  0%, 100% {
    box-shadow: 0 0 5px rgba(50, 212, 255, 0.2), 0 0 10px rgba(50, 212, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(50, 212, 255, 0.6), 0 0 30px rgba(50, 212, 255, 0.5);
  }
}
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1174354987832633');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1174354987832633&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
